
{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% set ws = u['wsname'] %}
{% set uname = u['uname'] %}

{% block title %}
{{ws}}
{% endblock %}

{% block styles %}
{{super()}}
<style>
.cs-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  /*border: 1px solid red;*/
  /*padding: 3px 0;*/
}
dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 20%;
  padding: 0;
  margin: 3px 0;
}
dd {
  float: left;
  width: 80%;
  padding: 0;
  margin: 3px 0;
}
</style>
{% endblock %}

{% block content %}


<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="page-header">
      <h1>{{ws}}</h1>
    </div>
    {% if cs %}
    {% else %}
      You have no channels
    {% endif %}
    {% for c in cs %}
      <div class="ch-item">
        {% if c['chtype'] == 'public' %}
          <span class="glyphicon glyphicon-eye-open"></span>
        {% endif %}
        {% if c['chtype'] == 'private' %}
          <span class="glyphicon glyphicon-lock"></span>
        {% endif %}
        {% if c['chtype'] == 'direct' %}
          <span class="glyphicon glyphicon-user"></span>
        {% endif %}
        <a href="/{{ws}}/{{c['chname']}}">
          {{c['chname']}}
        </a>
      </div>
    {% endfor %}
    {% if cs %}
    {% endif %}
    <hr>
    <form action="/{{ws}}" method="POST">
      {{form.csrf_token()}}
      <d1>
        {{wtf.form_field(form.chname, class="form-control")}}
        {{wtf.form_field(form.chtype, class="form-control")}}
      </d1>
      <button type="submit" class="btn btn-block btn-primary">
        Create
      </button>
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% for c, e in messages %}
        <div class="alert alert-{{c}} fade in">
          <a href='#' class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {% if c == "danger" %}
            <span class="glyphicon glyphicon-exclamation-sign">
            </span>
          {% else %}
            <span class="glyphicon glyphicon-ok-sign"></span>
          {% endif %}
          {{e}}
        </div>
      {% endfor %}
    {% endwith %}
    <hr>
    {% for u in us %}
      <div class="ch-item">
        {% if u['admin'] %}
          <span class="glyphicon glyphicon-king"></span>
        {% else %}
          <span class="glyphicon glyphicon-pawn"></span>
        {% endif %}
        <a href="/{{ws}}/direct/{{u['uname']}}">
          {{u['uname']}}
        </a>
      </div>
    {% endfor %}
    {% if u['admin'] %}
      <hr>
      <a href="/{{ws}}/invite">
        invite users
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}
